.col-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.resources-container {
  margin-top: 35px;
  order: 2;
}

.resources-tab {
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
}

.resources-title {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}

.resource-subtitle {
  font-weight: bold;
  color: #2D2D2D;
  font-size: 12px;
}

.resource-text {
  font-weight: bold;
  color: #f05a28;
  font-size: 12px;
}

.resources-option {
  margin-top: 10px;
}

.resources-option:hover {
  background-color: #E7E5E5;

}

.res-container {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 1;
}

.res-option {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  border: solid #F27348 1px;
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  text-align: center;
  margin-top: 2%;
  border-radius: 5px;
}

.res-option:hover {
  cursor: pointer;
}

.res-option > p {
  color: #f05a28;
}


.res-title {
  display: none;
}

.resume-text {
  display: none;
}

.file-button {
  display: none;
}

.e-pdf {
  width: 20vw;
  height: 20vw;
}

.e-pdf-container {
  margin-left: auto;
  margin-right: auto;
}

/* total width */
.resources-tab::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.resources-tab::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.resources-tab::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.resources-tab::-webkit-scrollbar-button {
  display:none;
}

@media only screen and (min-width: 850px) {
  .resume-text {
    display: block;
    font-size: 16px;
    color: #757575;
    font-weight: bold;
    margin-top: 7%;
    text-align: center;
  }

  .res-title {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10%;
  }

  .res-container {
    width: 50%;
    height: 300px;
    order: 2;
  }

  .resources-container {
    width: 30%;
    height: 300px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 10px;
    order: 1;
    margin-top: 0px;
  }
}