.all-container-rev {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.name-keyword-wrapper {
  align-self: flex-start;
  margin-left: 4%;
}

.proj-name {
  font-size: 36px;
  font-weight: 500;
}

.keywords {
  margin-top: 2%;
  font-size: 12px;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 4%;
  margin-top: 3%;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.det-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}

.det-text {
  margin-top: auto;
  margin-left: 5px;
  font-size: 11px;
  color: #757575;
}

.proj-description {
  margin-top: 5%;
  margin-left: 4%;
  width: 100%;
  font-size: 14px;
  align-self: flex-start;
}

.open-roles {
  align-self: flex-start;
  margin-left: 4%;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5%;
  margin-bottom: 2%;
}

.roles-list {
  align-self: flex-start;
  margin-left: 4%;
  border: solid 1.5px #e8e6e6;
  border-radius: 20px;
  padding: 2%;
  width: 90%;
  position: relative;
}

.role-name-rev {
  margin-top: 2%;
  color: #f05a28;
  font-weight: bold;
}

.selection-rev {
  font-size: medium;
  color: black;
  background-color: rgb(249, 130, 44, 0.4);
  border-radius: 5px;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 4px;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roles-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.dur-apply-wrapper {
  flex-direction: row;
  position: absolute;
  right: 4%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  display: none;
}


.project-dur-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  color: #757575
}

.apply{
  color: #f05a28;
  font-weight: bold;
  font-size: 12px;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
}

.logo-rev {
  width: 100px;
  height: 100px;
  margin-left: 10%;
}

.seperation {
  background-color: #f6f6f8;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 90%;
}

.content-body {
  width: 100%;
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70%;
  padding: 10px
}

.finish-buttons-wrapper-rev {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 200px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selections-container-prev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2%;
}

.proj-new {
  font-size: 14px;
  color: #f05a28;
}

.roles-label-rev {
  font-weight: bold;
  color: #333333;
  margin-top: 20px;
  font-size: 14px;
}

.review-button-rev {
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  width: 180px;
  height: 50px;
  font-size: 18px;
  border: solid 2px #f05a28;
  color: #f05a28;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.review-button-rev:hover {
  background-color: #f05a28;
  color: white;
}

@media only screen and (min-width: 850px) {

  .keywords {

  }

  .icon-wrapper {
    width: 35%;
  }

  .proj-description {
    width: 70%;
  }

  .dur-apply-wrapper {
    display: flex;
  }

  .seperation {
    width: 80%;
  }

  .content-body {
    padding: 5%;
  }
}