/* General Styling HOW DO I USE NORMAL CSS */
.edit-profile-icon {
  cursor: pointer;
}

/* "grid" lmao */
.profile-grid-container {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item-header {
  padding: 0;
  text-align: left;
}

.item-body {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
}

.resume-link {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
  color: #0000EE;
  cursor: pointer;
}

.no-resume-text {
  margin-top: 10px;
  text-align: left;
  font-size: 16px;
}

/* All cards */
.user-summary,
.user-bio,
.user-resume,
.project-categories-container,
.user-project-interests,
.user-skills {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

/* First Column */
.user-summary,
.user-bio,
.user-resume,
.user-skills {
  width: 50vw;
}

/* Second Column */
.project-categories-container,
.user-project-interests {
  width: 20vw;
}

/* Individual Card Styling */

.user-skills > h1,
.user-project-interests > h1 {
  font-size: 20px;
}

.bio-container {
  width: 110%; /* no idea how this worked but it works */
}

.user-summary {
  height: 150px;
  display: flex;
  gap: 4rem;
}

.summary-flexbox {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.summary-item {
  text-align: left;
  font-size: 16px;
  color: grey;
}

.bio-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-profile-icon {
  padding: 1rem;
  color: #f05a28;
}

.user-resume {
  height: 100px;
}

.resume-icon {
  padding: 1rem;
}

.resume-body {
  display: flex;
}

.project-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-categories-container {
  height: 200px;
}

.project-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected-category {
  color: #f05a28;
}

.category-divider {
  border-top: 1px solid #D3D3D3;
  height: 0;
}

.project-item {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  background: rgba(249, 130, 44, 0.2);
}

.skill-item {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  background: rgba(249, 130, 44, 0.6)
}

@media (max-width: 768px) {
  .profile-grid-container {
    flex-direction: column;
  }

  .item-header {
    font-size: 24px;
  }
  /* All cards */
  .user-summary,
  .user-bio,
  .user-resume,
  .project-categories-container,
  .user-project-interests,
  .user-skills {
    margin-right: auto;
    margin-left: auto;
  }

  /* Long bois */
  .user-summary,
  .user-bio,
  .user-resume,
  .user-skills,
  .user-project-interests {
    width: 80vw;
  }

  /* Short bois */
  .project-categories-container {
    height: 300px;
  }

  .project-row {
    flex-direction: row;
    gap: 30px;
  }

  /* .project-categories-container,
  .user-project-interests {
    width: 35vw;
  } */

  .project-categories {
    gap: 15px;
  }

  .category-divider {
    margin-bottom: 15px;
  }
}

/* mobile */
@media only screen and (max-width: 395px) {

  .project-row {
    flex-direction: column;
    gap: 40px;
  }

  .project-categories-container,
  .user-project-interests {
    width: 80vw;
  }

  .user-project-interests {
    margin-left: auto;
  }

  .user-summary {
    gap: 2rem;
  }

  .bio-container > .bio-header,
  .summary-flexbox {
    justify-content: center;
  }

  .user-summary>img {
    width: 25vw;
    height: 25vw;
  }

  .summary-flexbox>p:not(:first-child) {
    display: none;
  }

  .user-summary>img,
  .bio-container {
    margin-top: auto;
    margin-bottom: auto;
  }

  .edit-profile-icon { /* extremely hacky do not recommend */
    position: absolute;
    top: 125px;
    right: 10vw;
    padding: 1rem;
    color: #f05a28;
  }
}