/* General Styling HOW DO I USE NORMAL CSS */
p {
    font-size: 16px;
}

/* "grid" lmao */
.profile-grid-container {
    display: flex;
    gap: 40px;
}

.grid-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.item-header {
    padding: 0;
    text-align: left;
}

.item-body {
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
}

/* All cards */
.user-summary,
.user-bio,
.user-resume,
.project-categories-container,
.user-project-interests,
.user-skills,
.logout-button {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.25);
    overflow-y: auto;
}

/* First Column */
.user-summary,
.user-bio,
.user-resume,
.user-skills {
    width: 50vw;
}

/* Second Column */
.project-categories-container,
.user-project-interests,
.logout-button {
    width: 20vw;
}

/* Individual Card Styling */

.user-summary {
    height: 150px;
}

.summary-flexbox {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.summary-item {
    text-align: left;
    font-size: 16px;
    color: grey;
}

.user-bio {
    height: 250px;
}

.bio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-profile {
    padding: 0.75rem;
    background-color: #f05a28;
    color: white;
    border-radius: 0.5rem;
}

.user-resume {
    height: 100px;
}

.project-categories-container {
    height: 200px;
}

.project-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selected-category {
    color: #f05a28;
}

.category-divider {
    border-top: 1px solid #D3D3D3;
    height: 0;
}

.project-item {
    padding: 2rem;
    border-radius: 0.5rem;
    width: 15vw;
    text-align: center;
    background-color: #ffe7bf; /* idk this color */
}

.user-skills {
    height: 300px;
}

.skill-item {
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #FDB44E; /* idk this color either */
}

.logout-button {
    height: 25px;
}

.logout-button-text {
    text-align: center;
    color: #f05a28;
}