.selections-container-categ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.selection-proj-categories {
  font-size: medium;
  color: #757575;
  border: solid 2px #f05a28;
  border-radius: 10px;
  flex-basis: 10%;
  display: flex;
  padding: 1%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}