.forgot-password-container {
    text-align: center;
}

.forgot-password-body-two {
    margin-top: 10px;
}

.forgot-password-form {
    margin-top: 10rem;
}

.change-password-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forgot-password-email-label {
    visibility: hidden;
    /* for screen readers */
}

.forgot-password-input {
    width: 448px;
    height: 30px;
    border: 1px solid #757575;
    border-radius: 8px;
    font-size: 12px;
    padding: 1rem 1rem;
}

.forgot-password-error {
    color: red;
}

.forgot-password-button {
    margin-top: 20px;
    width: 350px;
    border: solid 2px #f05a28;
    color: #f05a28;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 1rem;
}

.forgot-password-button:hover {
    cursor: pointer;
    background-color: #f05a28;
    color: white;
}

.forgot-password-footer {
    margin-top: 50px;
    font-size: 16px;
    height: 40vh;
}

.login-redirect {
    display: inline;
    color: #f05a28;
    font-weight: bold;
    font-size: 16px;
}

.sent-email-modal {
    position: absolute;
    display: flex;
    width: 582px;
    height: 184.96px;
    inset: 0;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 20px 0 20px;
    background-color: white;
    border-radius: 10px;
}

.sent-email-header {
    padding: 0;
}

.sent-email-button {
    width: 622px;
    margin-top: 25px;
    margin-left: -20px;
    padding: 20px 10px;
    background-color: #F27348;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    border: none;
}

.sent-email-button:hover {
    cursor: pointer;
}

@media (max-width: 850px) {
    .forgot-password-container {
        margin-bottom: 20px;
    }

    .forgot-password-input {
        width: 75vw;
    }

    .forgot-password-button {
        width: 65vw;
    }

    .sent-email-modal {
        width: 75vw;
    }

    .sent-email-button {
        width: calc(75vw + 40px);
    }
}