/* Global Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}

html {
  background-color: #F6F6F8;
}

body {
  overflow-x: hidden;
}

.app {
  height: 100%;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly  ;
  align-items: center;
  width: 100%;
}

.divider {
  width: 120%;
  height: 15rem;
  background-image: url(./assets/divider.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.divider-image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100vw;
  height: 15rem;
}


.people-img {
  display: none;
}

.find-project-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.find-project-center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
}

.people {
  height: 15rem;
  width: 100%;
  background-repeat: no-repeat;
}

.man {
  background-image: url(./assets/human-man.png);
  background-position: right;
}

.woman {
  background-image: url(./assets/human-woman.png);
  background-position: left;
}

.company-tag {
  padding-top: 30px;
  display: flex;
  align-self: flex-start;
}

.footer {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 20rem;
  background-image: url(./assets/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tag-text {
  color: white;
  margin-top: auto;
  margin-left: 5px;
}

hr {
  height: 1px;
  width: 100%;
  color: white;
  border-color: white;
}

.footer-divider {
  margin-top: 10px;
}

.logo-header {
  width: 100px;
  height: 100px;
}

.logo-small {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 28px;
  padding: 10px;
}

h2 {
  font-size: 20px;
  padding: 25px;
}

.home-button, .home-button-container {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.home-button {
  padding-top: 8.75px;
  padding-bottom: 8.75px;
}

.find-project {
  background-color: #F05A28;
  color: #fff;
  font-size: 20px;
}

.side-project {
  background-color: rgba(240, 90, 40, 0.26);
  color: #F05A28;
}

.create-project {
  background-color: rgba(104, 40, 240, 0.26);
  color: #8028F0;
}

.tag-line {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  width: 50%;
}
.footer-links {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer-link-text {
  color: white;
  font-weight: bold;
  margin-right: 15px;
}

.copyright-home {
  padding-top: 10px;
  color: white;
  margin-right: auto;
  margin-top: 20px;
}

/* .create-project-button {
  position: fixed;
  text-align: center;
  bottom: 0px;
  right: 0px;
  background-color: #F05A28;
  color: white;
  border-radius: 50%;
  border: none;
} */

h3 {
  font-size: 20px;
  color: black;
}

p {
  color: black;
  font-size: 16px;
}

.project-list-page {
  padding-top: 10px;
}

.project-list-and-filter-container {
  display: flex;
}

main {
  margin-bottom: 10px;
}

.project-list-and-filter-container {
  width: 100%;
}

.create-project-button-project-search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-project-button {
  display: none;
  padding: 7px 10px 7px 5px;
  border-radius: 5px;
}

.create-project-text {
  color: white;
}

.search-bar, .search-filter-icon {
  border: #D0D0D0;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  background-color: #F6F6F8;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 50px;
  height: 22px;
}

.search-filter-icon {
  width: auto;
  padding: 0;
  padding: 2px 8px 0px 8px;
}

.create-project-btn-project-search-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.project-list-item-container,
.filter-container,
.project-list-detail-page {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
  padding: 25px;
  box-sizing: border-box;
}

.home-card {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  width: 260px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-card-item {
  padding: 10px;
}

.home-card-label {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.filter-container,
.create-project-button-content {
  width: 175px;
}

.project-list-item-container {
  width: 100%;
  margin-bottom: 3vh;
}

.project-list-item-stats {
  display: flex;
}

.project-list-item-header h3 {
  font-size: 24px;
}

.stat-item {
  color: #757575;
  display: flex;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 10px;
}

.stat-item-icon {
  margin-right: 5px;
}

.stat-item > p {
  font-size: 12px;
}

.project-list-item-interests {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.proj-item-interest {
  margin-left: 10px;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #F6F6F8;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
}

.role-container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #E8E6E6;
  padding: 15px 20px 15px 20px;
  margin-top: 10px;
}

.more-roles-tag {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.role-title {
  color: #F05A28;
  flex-grow: 0;
  white-space: normal;
}

.skill-container {
  flex-grow: 0;
  border-radius: 5px;
  background-color: rgba(249, 130, 44, 0.4);
  padding: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-size: 14px;
}

.skills-wrapper {
  flex-grow: 6;
  display: flex;
  align-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin-left: 10px;
}

.small-skill-container {
  font-size: 14px;
  padding: 8px;
}

.project-list-detail-logistics {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.project-list-detail-logistics-inner-text {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 10px;
}

.project-list-detail-role-container {
  border-color: #E8E6E6;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 15px;
  border-width: 1px;
  padding: 20px;
}

.no-border {
  border: none;
  margin-top: 5px;
}

.proj-apply-button {
  display: inline-flex;
  width: 62px;
  height: 30px;
  background-color: white;
  border: #F05A28 1px solid;
  padding: 5px;
  color: #F05A28;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  border-width: 2.5px;
  align-items: center;
  justify-content: center;
}

.proj-apply-button:hover {
  background-color: #F05A28;
  border: #F05A28 1px solid;
  padding: 5px;
  color: white;
  border-radius: 3px;
}

.proj-apply-link {
  margin-left: auto;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {

    .app {
      margin-left: 10%;
      margin-right: 10%;
    }

    .divider, .footer {
      height: 30rem;
      overflow: visible;
    }

    .home-card-container {
      display: flex;
      width: 90vw;
      justify-content: center;
    }

    .home-card-container > .people-img:first-child {
      margin-right: 5vw;
    }

    .home-card-container > .people-img:nth-of-type(2) {
      margin-left: 5vw;
    }

    .create-project-button {
      display: block;
      position: static;
      text-align: center;
      background-color: #F05A28;
      color: white;
      font-weight: 600;
      border-radius: 5px;
      border: none;
    }

    .create-project-btn-project-search-container {
      margin-bottom: 30px;
      margin-top: 15px;
    }

    a.create-project-button {
      flex-grow: 1;
      margin-right: 5px;
    }

    .create-project-button-content {
      display: flex;
      gap: 7.5px;
      justify-content: center;
      align-items: center;
    }

    input#SearchBar {
      flex-grow: 2;
      margin-bottom: 0;
    }

    .project-list {
      width: 100%;
    }

    .project-list-item-container {
      padding: 20px;
    }

    .project-list-item-top-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    .divider-image {
      height: 30rem;
    }

    .people-img {
      display: block;
    }

    .footer-link-text {
      color: white;
      font-weight: bold;
      font-size: 16px;
    }

    .tag-text {
      font-size: 13px;
    }

    .role-title {
      white-space: nowrap;
    }
}