* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  width: auto;
  background-color: #F6F6F8;
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-style: solid;
  border-bottom-color: #CECECE;
  border-bottom-width: 1px;
}

li:hover {
  color: #F05A28;
}

.project-list-page {
  padding-top: 50px;
}

.create-project-btn-project-search-container, .project-list-and-filter-container {
  display: flex;
  justify-content: space-between;
}

.container-item {
  margin-bottom: 16px;
}

.project-list-and-filter-container {
  flex-grow: 2;
}

.create-project-button {
  display: flex;
  background-color: #F05A28;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 13vw;
}

.create-project-btn-icon {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(/src/assets/akar-icons_plus.svg);
}

.create-project-button-content {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar, .search-filter-icon {
  border: #D0D0D0;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  background-color: #F6F6F8;
}

.search-bar {
  width: 60vw;
}

.search-filter-icon {
  width: auto;
  padding: 0;
  padding: 2px 8px 0px 8px;
}

.project-list-item-container, .filter-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
  padding: 25px;
}

.filter-container, .create-project-button-content {
  width: 10vw;
}

.project-list-item-container {
  width: 60vw;
  margin-bottom: 3vh;
}

.project-list-item-stats {
  display: flex;
}

.stat-item {
  color: #757575;
  margin-left: 20px;
  font-size: 12px;
  display: flex;
}

.align-to-right {
  margin-left: auto;
}

.stat-item-icon {
  margin-right: 5px;
}

.project-list-item-interests {
  margin-top: 30px;
}

.role-container {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: #E8E6E6;
  padding: 10px;
  margin-top: 20px;
}

.role-title {
  color: #F05A28;
  margin-right: 10px;
}

.skill-container {
  border-radius: 5px;
  background-color: rgba(249, 130, 44, 0.4);
  padding: 7px;
}
