.desktop-container-cp {
  background-color: white;
  height: 115vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 1%;
  margin-left: 3%;
}

.sign-up-pane {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

form {
  height: 50%;
}

.form-field {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}
.center-pane {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


._53Ji7 {
  width: 100%;
}

.login-button-proj {
  border: solid 2px #f05a28;
  color: #f05a28;
  border-radius: 5px;
  background-color: white;
  height: 30%;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.login-button-proj:hover {
  background-color: #f05a28;
  color: white;
  font-weight: bold;
  border: solid 0px;
}

.back-button-proj {
  border: solid 2px #8A8888;
  color: #8A8888;
  border-radius: 5px;
  background-color: white;
  height: 30%;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.back-button-proj:hover {
  background-color: #8A8888;
  color: white;
  font-weight: bold;
  border: solid 0px;
}

.buttonsWrapper-cp {
  display: inline-flex;
  width: 83%;
  margin-bottom: 1.5%;
}

.project-name-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}

.roles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 15vh;
  overflow: auto;
}

.asterix {
  color: red;
  vertical-align: super;
}

.drop-downs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.project-page-subtitle {
  color: #C4C4C4;
  font-size: 16px;
  margin-top: 1%;
}

.header-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.question-icon {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-left: 10px;
}

.desktop-container-roles {
  background-color: white;
  min-height: min(100, 500);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.field-set-cp {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 100%
}

.vertical-center{
  margin-top: 10%;
}


/* total width */
.roles-container::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.roles-container::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.roles-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.roles-container::-webkit-scrollbar-button {
  display:none;
}

.tooltip-text{
  width: 200px;
}

.dropdown-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 12px;
}