.desktop-container-cp {
  background-color: white;
  position: relative;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 1%;
  margin-left: 3%;
  position: absolute;
}

.sign-up-pane {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

form {
  height: 50%;
}

.form-field {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}
.center-pane {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


._53Ji7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-button-proj {
  border: solid 2px #f05a28;
  color: #f05a28;
  border-radius: 5px;
  background-color: white;
  height: 35px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: 10px;
}

.login-button-proj:hover {
  background-color: #f05a28;
  color: white;
  font-weight: bold;
  border: solid 0px;
}

.back-button-proj {
  border: solid 2px #8A8888;
  color: #8A8888;
  border-radius: 5px;
  background-color: white;
  height: 35px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
}

.back-button-proj-hidden {
  display: none;
}

.back-button-proj:hover {
  background-color: #8A8888;
  color: white;
  font-weight: bold;
  border: solid 0px;
}

.buttonsWrapper-cp {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1.5%;
  margin-top: auto;
  min-height: 0;
  margin-top: 200px;
}

.project-name-header {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.asterix {
  color: red;
  vertical-align: super;
  align-self: flex-start;
  margin-left: 5px;
}

.drop-downs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.project-page-subtitle {
  color: #C4C4C4;
  font-size: 16px;
  margin-top: 1%;
}

.header-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.question-icon {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-left: 10px;
}

.question-icon-dropdown {
  width: 15px;
  height: 15px;
  align-self: center;
  margin-left: 10px;
  display: none;
}

.desktop-container-roles {
  background-color: white;
  min-height: min(100, 500);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.field-set-cp {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 100%;
}

.vertical-center{
  margin-top: 10%;
}

.tooltip-text{
  width: 200px;
}

.dropdown-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1.9%;
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .project-name-header {
    font-size: 25px;
  }

  .field-set-cp {
    width: 75%;
  }

  .question-icon {
    width: 20px;
    height: 20px;
  }

  .buttonsWrapper-cp {
    width: 100%;
  }

  .drop-downs-container {
    flex-direction: row;
  }

  .question-icon-dropdown {
    display: block;
  }

  .dropdown-wrapper {
    width: auto;
  }

  .back-button-proj {
    margin-left: 2.5rem;
  }

  .login-button-proj {
    margin-right: 2.5rem;
  }
}