.desktop-container {
  background-color: white;
  height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 1%;
  margin-left: 3%;
}

.sign-up-pane {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

form {
  height: 50%;
}

.form-field {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}
.center-pane {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests-subtitle {
  color: #757575;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 1%;
  justify-content: space-evenly;
  width: 75%;
}

.selection {
  display: flex;
  flex-direction: column;
  flex: 40% 0 0;
  height: 50px;
  border: solid 1px black;
  color: #757575;
  border-radius: 10px;
}

.selection-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  font-size: 12px;
}

.selected {
  display: flex;
  flex-direction: row;
  flex: 40% 0 0;
  height: 50px;
  border: solid 1px black;
  background-color: #f05a28;
  border-radius: 10px;
}

.selected p {
  color: white;
}

._53Ji7 {
  width: 100%;
}

.login-button-sign-up {
  border: solid 2px #f05a28;
  color: #f05a28;
  border-radius: 5px;
  background-color: white;
  height: 30%;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.login-button-sign-up:hover {
  background-color: #f05a28;
  color: white;
  font-weight: bold;
  border: solid 0px;
}

.buttonsWrapper {
  display: inline-flex;
  width: 80%;
  margin-bottom: 1.5%;
}

.step-content {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-set label {
  font-size: 12px;
  font-weight: bold;
}

.asterix-signup {
  color: red;
  vertical-align: text-top;
}

.vertical-center-signup {
  margin-top: 7%;
}