.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}
  
  /* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}
  
/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    font-size: 16px;
    display: inline-block;
    color: black;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 700px) {
    .bm-item {
        font-size: 20px;
    }

    .header-desktop {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .header-desktop-items {
        display: flex;
        flex: 0.3;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: 5%;
    }

    .login-button-header {
        border: solid 2px #f05a28;
        color: white;
        background-color: #f05a28;
        border-radius: 5px;
        height: 30%;
        width: 150px;
        font-weight: bold;
        padding: 10px;
        margin-left: 10px;
      }
      
      .login-button-header:hover {
        background-color: white;
        color: #f05a28;
        font-weight: bold;
      }

    .header-desktop-items > a, .header-desktop-items > a:visited {
        color: black;
        font-size: 16px;
        margin-left: 8px;
    }

    .logo-header {
        align-self: flex-start;
        margin-left: 20px;
    }

    .nexus-logo-header{
        width: 75px;
        height: 75px;
    }
}