.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.iterations-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iterations-logo-header {
    width: 70px;
    height: 70px;
    margin-left: 5vw;
    margin-top: 2vh;
}

.step-counter {
    font-size: 12px;
    color: #888888;
    margin-right: 5vw;
}

.step-counter-hidden {
    display: none;
}

img {
    max-height: 100%;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 45px;
    height: 39px;
    left: 36px;
    top: 36px;
}

.menu-icon {
    width: 45px;
    height: 39px;
}

.side-menu-container {
    margin-left: 5px;
    margin-top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
}

/* Individual item */
.bm-item {
    font-size: 16px;
    display: inline-block;
    color: black;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.side-menu-option,
.side-menu-option-active {
    font-size: 16px;
    margin: 5px auto;
    display: inline-block;
}

.side-menu-option {
    color: black;
}

.side-menu-option-active {
    font-weight: 600;
    color: #F05A28;
}

.projects-button,
.profile-button,
.profile-button-active {
    font-weight: 700;
    color: grey;
}

.projects-button,
.profile-button {
    font-size: 12px;
}

.profile-button:hover,
.profile-button-active:hover {
    cursor: pointer;
}

.active,
.profile-button-active {
    color: #F05A28;
}

.login-button-header,
.create-project-header {
    border: solid 2px #f05a28;
    background-color: #f05a28;
    color: white;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 1rem;
}

.login-button-header {
    position: absolute;
    top: 75vh;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 75%;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
}

.create-project-header {
    position: fixed;
    bottom: 6vh;
    right: 7vw;
    margin-left: auto;
    height: 25px;
    width: 25px;
    display: block;
    border-radius: 50%;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.create-project-header-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.create-project-header-container p {
    color: white;
}

.mh-home {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 10;
    background-color: #F6F6F8;
    margin-bottom: 7vh;
}

.mh-home-logo {
    max-height: 10vh;
    max-width: 20vw;
    margin-left: 5vw;
}

.mh-home-items {
    display: flex;
    flex: 0.9;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}

.projects-dropdown-container:hover,
.projects-filter-container:hover {
    cursor: pointer;
}

.projects-dropdown-container {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}

.projects-dropdown {
    display: inline;
}

.projects-filter-container {
    margin-bottom: 10px;
}

.projects-filter {
    margin-left: 25px;
    font-size: 16px;
}

/* do state later ... i guess */
.projects-filter:hover,
.projects-filter:checked {
    cursor: pointer;
    color: orange;
}

/* hide radio button */
input.projects-filter-button[type="radio"] {
    visibility: hidden;
}

/* tablet / smaller desktop */
@media only screen and (min-width: 450px) {
    .login-button-header {
        top: 85vh;
    }
}

/* desktop view */
@media only screen and (min-width: 850px) {
    .bm-item {
        font-size: 20px;
    }

    .header-desktop {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        position: relative;
        z-index: 10;
    }

    .header-desktop-items {
        display: flex;
        flex: 0.45;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: 5%;
    }

    .profile-button {
        font-size: 16px;
    }

    .login-button-header {
        position: relative;
        top: 0;
        width: auto;
    }

    .create-project-header {
        display: none;
    }

    .login-button-header:hover {
        background-color: #f05a28;
        color: white;
        font-weight: bold;
    }

    .header-desktop-items>a,
    .header-desktop-items>a:visited {
        font-size: 16px;
        margin-left: 8px;
    }

    .logo-header {
        align-self: flex-start;
        margin-left: 20px;
    }

    .nexus-logo-header {
        width: 75px;
        height: 75px;
    }

    .iterations-logo-header {
        display: none;
    }

    .step-counter {
        display: none;
    }
}